syntax = "proto3";

package data;

option go_package = "{{.ImportPath}}/services/data";

import "models.proto";
import "service_admin.proto";
import "google/protobuf/timestamp.proto";

// --------------------
// Generic requests ---
// --------------------

// GetByIDRequest represents a request to allow getting a single entity by ID
message GetByIDRequest {
    string Key = 1;
    string ID = 2;
}

// GetBySlugRequest represents a request to allow getting a single entity by slug
message GetBySlugRequest {
    string Key = 1;
    string Slug = 2;
}

// ListRequest represents a request to allow listing of entities
message ListRequest {
    string Key = 1;
    models.ListOpts ListOpts = 2;
    repeated admin.Filter Filters = 3;
}

// --------------------
// GetModified Response
// --------------------

// TimestampResponse
message TimestampResponse {
    google.protobuf.Timestamp ModifiedAt = 1;
}

// --------------------
// Entity Responses ---
// --------------------
{{range .Entities}}
// {{.Name}}Response represents result to a GetByIDRequest or GetBySlugRequest
message {{.Name}}Response {
    models.{{.Name}} {{.Name}} = 1;
}

// List{{plural .Name}}Response represents result to a ListRequest
message List{{plural .Name}}Response {
    repeated models.{{.Name}} {{plural .Name}} = 1;
}
{{end}}
// -------------------
// Decks and cards ---
// -------------------

// DeckRequest is a request to get cards for decks
message DeckRequest {
    string Key = 1;
    repeated string Decks = 2;
}

// DeckContentResponse returns a list of cards for each decks in DeckRequest
message DeckContentResponse {
    repeated DeckContent DeckContents = 1;
}

// DeckContent contains a list of card references
message DeckContent {
   string   Name = 1;
   repeated CardReference CardRefs = 2;
}

// CardReference contains reference to an entity's type and ID
message CardReference {
    string Type = 1;
    string ID = 2;
}

// GRPC service Data
service Data {
{{- range .Entities}}

    // Get{{.Name}}ByID returns a single {{.Name}} from database by primary key
    rpc Get{{.Name}}ByID(GetByIDRequest) returns ({{.Name}}Response);
    {{if .UpdatedAt}}
    // GetModified{{.Name}}ByID returns time of modification for entity by ID
    rpc GetModified{{.Name}}ByID(GetByIDRequest) returns (TimestampResponse);
    {{end}}{{/* if .UpdatedAt */}}
    {{if ne .Slug "" -}}
    // Get returns a single {{.Name}} from database by slug
    rpc Get{{.Name}}BySlug(GetBySlugRequest) returns ({{.Name}}Response);
    {{- if .UpdatedAt}}
    // GetModified{{.Name}}BySlug returns time of modification for entity by slug
    rpc GetModified{{.Name}}BySlug(GetBySlugRequest) returns (TimestampResponse);
    {{end -}}{{/* if .UpdatedAt */}}
    {{end -}}{{/* if ne .Slug "" */}}
    // List{{plural .Name}} allows listing all entity of type {{.Name}}
    rpc List{{plural .Name}}(ListRequest) returns (List{{plural .Name}}Response);
{{- end}}
{{if .DecksGenerated}}
    // GetCards returns a list of card references (type & ID) for each decks in DeckRequest
    rpc GetCards(DeckRequest) returns (DeckContentResponse);
{{end -}}
}