let PageComponents = [
  {
    type: "Heading",
    disabled: false,
    name: "Heading",
    icon: "text_fields"
  },
  {
    type: "Textarea",
    disabled: false,
    name: "Text",
    icon: "wrap_text"
  },
  {
    type: "HTML",
    disabled: false,
    name: "HTML",
    icon: "code"
  },
  {
    type: "Quote",
    disabled: false,
    name: "Quote",
    icon: "format_quote"
  },
  {
    type: "Image",
    disabled: false,
    name: "Image",
    icon: "add_a_photo"
  },
  {
    type: "Youtube",
    disabled: false,
    name: "Youtube Video",
    icon: "video_library"
  },
  {
    type: "Gallery",
    disabled: false,
    name: "Gallery",
    icon: "photo_library"
  },
  {
    type: "Footer",
    disabled: false,
    name: "Footer",
    icon: "vertical_align_bottom"
  },
  {
    type: "Related",
    disabled: false,
    name: "Articles",
    icon: "link"
  },
  {
    type: "Markdown",
    disabled: true,
    name: "Markdown",
    icon: "code"
  },
  {
    type: "Legacy",
    disabled: false,
    name: "Legacy Content",
    icon: "lock"
  },
  {
    type: "MailHeader",
    disabled: true,
    name: "Mail Header 1",
    icon: "text_fields"
  },
  {
    type: "MailJumbotron",
    disabled: true,
    name: "Mail Jumbotron 1",
    icon: "text_fields"
  },
  {
    type: "MailColumn",
    disabled: true,
    name: "Mail Column 1",
    icon: "text_fields"
  },
  {
    type: "MailTextHeading",
    disabled: true,
    name: "Mail Text Heading 1",
    icon: "text_fields"
  },
  {
    type: "MailImageText",
    disabled: true,
    name: "Mail Image Text 1",
    icon: "text_fields"
  },
  {
    type: "MailArticlesListing",
    disabled: true,
    name: "Mail Articles Listing 1",
    icon: "text_fields"
  },
  {
    type: "MailAd",
    disabled: true,
    name: "Mail Ad 1",
    icon: "text_fields"
  },
  {
    type: "ArticleCard",
    disabled: true,
    name: "Article Card 1",
    icon: "text_fields"
  }
];

module.exports = PageComponents;
