<template>
  <div v-if="blocks">
    <template v-for="(component) in blocks">
      <component :is="component.type + 'Render'" :content="component"/>
    </template>
  </div>
</template>

<script>
import HeadingRender from "@lardwaz/views/blocks/HeadingRender";
import TextRender from "@lardwaz/views/blocks/TextRender";
import TextareaRender from "@lardwaz/views/blocks/TextareaRender";
import QuoteRender from "@lardwaz/views/blocks/QuoteRender";
import ImageRender from "@lardwaz/views/blocks/ImageRender";
import HTMLRender from "@lardwaz/views/blocks/HTMLRender";
import YoutubeRender from "@lardwaz/views/blocks/YoutubeRender";
import GalleryRender from "@lardwaz/views/blocks/GalleryRender";
import RelatedRender from "@lardwaz/views/blocks/RelatedRender";
import FooterRender from "@lardwaz/views/blocks/FooterRender";
import MarkdownRender from "@lardwaz/views/blocks/MarkdownRender";
import LegacyRender from "@lardwaz/views/blocks/LegacyRender";

export default {
  name: "Renderer",
  props: ["blocks"],
  components: {
    HeadingRender,
    TextRender,
    QuoteRender,
    ImageRender,
    TextareaRender,
    HTMLRender,
    YoutubeRender,
    GalleryRender,
    RelatedRender,
    FooterRender,
    MarkdownRender,
    LegacyRender
  }
};
</script>
