package bread

{{range .FileFields}}
var {{.Entity}}{{.Field}}UploadOpts = files.UploadOptions{
	Dir:			"media",
	Destination:    "{{lower .Entity}}/{{lower .Field}}",
	MediaPrefixURL: "/media/",
	FileExt:        "jpg",
	MaxSize:        files.NoLimit,
	MinSize:        files.NoLimit,
	ImgDimensions:  &files.ImageDimensions{
		MinHeight:  files.NoLimit,
		MaxHeight:  files.NoLimit,
		MinWidth:   files.NoLimit,
		MaxWidth:   files.NoLimit,
	},
}
{{end}}