package bread

{{range $.FileFields}}
var {{.}}UploadOpts = files.UploadOptions{
	Destination:    "unsorted",
	MediaPrefixURL: "/media/",
	FileExt:        "jpg",
	MaxSize:        files.NoLimit,
	MinSize:        files.NoLimit,
	ImgDimensions:  &files.ImageDimensions{
		MinHeight:  files.NoLimit,
		MaxHeight:  files.NoLimit,
		MinWidth:   files.NoLimit,
		MaxWidth:   files.NoLimit,
	},
}
{{end}}