syntax = "proto3";

package bread;

import "models.proto";
option go_package = "{{.AppImportPath}}/services/bread";

// Filter represents a filter that can be applied for listing requests
message Filter {
    string Field     = 1;
    string Operation = 2;
    string Value     = 3;
}

// GetRequest represents a request to allow getting a single entity
message GetRequest {
    string Key = 1;
    string ID = 2;
}

// ListRequest represents a request to allow listing of entities
message ListRequest {
    string Key = 1;
    models.ListOpts ListOpts = 2;
    repeated bread.Filter Filters = 3;
}

// DeleteRequest represents a request to allow deleting an entity
message DeleteRequest {
    string Key = 1;
    string ID = 2;
}
// DeleteResponse represents result to a DeleteRequest
message DeleteResponse {}

// UploadRequest represents message to allow uploading of files
message UploadRequest {
    string Key      = 1;
    string ID       = 2;
    string Field    = 3;
    string Filename = 4;
    bytes  Content  = 5;
}

// UploadResponse represents result to an UploadRequest
message UploadResponse {
    string URI = 1;
}
