<template>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#e85034;background-color:#e85034;width:100%;">
        <tbody>
        <tr>
            <td>
                <!--[if mso | IE]>
                <table
                        align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600"
                >
                    <tr>
                        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                <![endif]-->
                <div style="Margin:0px auto;max-width:600px;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:middle;">
                                <!--[if mso | IE]>
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                                    <tr>

                                        <td
                                                style="vertical-align:middle;width:600px;"
                                        >
                                <![endif]-->
                                <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:middle;" width="100%">
                                        <tr>
                                            <td align="center" style="font-size:0px;padding:10px 25px;padding-top:25;padding-bottom:10px;word-break:break-word;">
                                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:18px;line-height:1;text-align:center;color:#ffffff;"> {{ "{{content.value.heading}}" }} </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0px;padding:10px 25px;padding-top:20;padding-right:100px;padding-bottom:20px;padding-left:100px;word-break:break-word;">
                                                <p style="border-top:solid 1px #fff;font-size:1;margin:0px auto;width:100%;"> </p>
                                                <!--[if mso | IE]>
                                                <table
                                                        align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 1px #fff;font-size:1;margin:0px auto;width:400px;" role="presentation" width="400px"
                                                >
                                                    <tr>
                                                        <td style="height:0;line-height:0;">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-size:0px;padding:10px 25px;padding-top:20;padding-bottom:25px;word-break:break-word;">
                                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1;text-align:center;color:#f8d5d1;"> {{ "{{content.value.description}}" }} </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if mso | IE]>
                                </td>

                                </tr>

                                </table>
                                <![endif]-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if mso | IE]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    export default {
        props: [
            'content'
        ]
    }
</script>
<style>

</style>