<template>
    <div>
      <component v-if="content.value" :is="content.value.size">{{ "{{ content.value.text }}" }}</component>
    </div>
</template>

<script>
export default {
  props: ["content"]
};
</script>
