<template>
  <div class="single-component-wrapper">
    <v-form v-model="valid">
      <component
        :is="'EditWidgetImagefield'"
        :hint="''"
        :value="local.imageurl"
        @gocipe="(e) => this.updateUrl(e)"
        :field="'Image'"
        :rpc="'upload'+information.entityName"
        :entityid="information.id"
      ></component>
      <v-layout row>
        <v-switch @change="update" label="Use image" v-model="local.hasImage"></v-switch>
      </v-layout>
      <v-text-field label="Indicator Value" v-model="local.indicator" @change="update" required></v-text-field>
      <vue-editor
        @text-change="update()"
        @blur="update()"
        id="editor"
        v-model="local.description"
        :editorToolbar="customToolbar"
      ></vue-editor>
    </v-form>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
  components: {
    VueEditor
  },
  props: {
    information: {
      default: null,
      type: Object
    },
    value: Object
  },
  data() {
    const fields = {
      imageurl: "",
      hasImage: false,
      indicator: "",
      description: ""
    };
    let local = Object.assign(fields, this.value);
    return {
      valid: false,
      local,
      customToolbar: [
        ["bold", "italic", "underline"],
        ["link", "blockquote"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ header: [1, 2, 3, false] }]
      ]
    };
  },
  methods: {
    update() {
      // emit changes only if validations are passed
      if (this.valid === true) {
        this.$emit("input", this.local);
      }
    },
    updateUrl: function(e) {
      this.local.imageurl = e;
      this.$emit("input", this.local);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
