<template>
  <div class="single-component-wrapper">
    <v-form v-model="valid">
      <v-layout row>
        <v-text-field
          label="Text"
          name="input-1"
          v-model="local"
          @keyup="update"
          :rules="textRules"
          required
        ></v-text-field>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
export default {
  props: ["value"],
  data() {
    return {
      local: this.value,
      valid: false,
      textRules: [
        v => !!v || "Text is required"
        // v => v.length >= 1 || "Text must be greater than 1 character(s)"
      ]
    };
  },
  methods: {
    update() {
      if (this.valid === true) {
        this.$emit("input", this.local);
      }
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
