<template>
  <div class="single-component-wrapper">
    <v-form v-model="valid">
      <v-layout row>
        <v-text-field
          label="Youtube ID"
          v-model="local.videoId"
          @keyup="update"
          :rules="IDRules"
          required
        ></v-text-field>
      </v-layout>
      <v-layout row>
        <v-switch label="Featured (Video cover)" v-model="local.isFeatured"></v-switch>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
export default {
  props: ["value"],
  data() {
    const fields = {
      videoId: null,
      isFeatured: false
    };
    let local = Object.assign(fields, this.value);

    return {
      local,
      valid: false,
      IDRules: [
        v => !!v || "YT ID is required"
        // v => v.length >= 1 || "Text must be greater than 1 character(s)"
      ]
    };
  },
  methods: {
    update() {
      if (this.valid === true) {
        this.$emit("input", this.local);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
