package main

import (
	"net/http"

	"github.com/gorilla/mux"
	"github.com/improbable-eng/grpc-web/go/grpcweb"
	log "github.com/sirupsen/logrus"
)

func newMuxRouter(ws *grpcweb.WrappedGrpcServer) *mux.Router {
	router := mux.NewRouter()

    {{if not .Bootstrap.NoGRPCWeb}}
	router.PathPrefix("/api").Handler(http.StripPrefix("/api", ws))
    {{end}}

	if _, err := web.NewSubrouter(router, "/", "app", nil); err != nil {
		logs := log.WithFields(log.Fields{
			"error":  err,
		})
		if app.Env == app.EnvironmentDev {
			logs.Warn("Could not create sub route")
		} else {
			logs.Fatal("Could not create sub route")
		}
	}

	return router
}
