package admin

// UploadPaths is an index of upload options
var UploadPaths = map[string]*files.UploadOptions{
	{{range .Entities -}}
	{{range .GetFileFields }}
	"{{lower $.Name}}/{{lower .}}":	&{{$.Name}}{{.}}UploadOpts,
	{{end}}
	{{end}}
}

{{range .Entities -}}
{{range .GetFileFields }}
// {{$.Name}}{{.}}UploadOpts contains upload parameters for the "{{.}}" field in Entity "{{$.Name}}"
var {{$.Name}}{{.}}UploadOpts = files.UploadOptions{
	Dir:			"media",
	Destination:    "{{lower $.Name}}/{{lower .}}",
	MediaPrefixURL: "/media/",
	FileType:       files.TypeImage,
	MaxSize:        util.NoLimit,
	ConvertTo:      imagist.TypeImageJPG,
	ImgDimensions:  &imagist.ImageDimensions{
		ThumbWidth:     400,
		ThumbHeight:    200,
		MinWidth:       util.NoLimit,
		MinHeight:      util.NoLimit,
		MaxWidth:       util.NoLimit,
		MaxHeight:      util.NoLimit,
		GenerateSocial: true,
	},
}
{{end}}
{{end}}