package admin

import (
	"context"
	"fmt"
	"time"

	"github.com/gosimple/slug"
	"lsl.digital/redac-systems/culture/models"
)

func setSlug(id string, value string, table string, field string) {
	suffix := ""
	max := 10
	for i := 0; i < max; i++ {
		if i >= max-1 {
			now := time.Now()
			suffix = fmt.Sprintf("%d", now.Nanosecond())
		} else if i > 0 {
			suffix = fmt.Sprintf("%02d", i)
		}

		tx, err := models.StartTransaction(context.Background())
		if err != nil {
			return
		}

		slug := slug.Make(value + `-` + suffix)
		rows, err := tx.Query(`SELECT id FROM `+table+` WHERE slug = $1 AND id <> $2 LIMIT 1`, slug, id)
		if err != nil {
			continue
		}
		defer rows.Close() // Is it safe in a loop?

		var exist bool
		for rows.Next() {
			exist = true
			break
		}

		if exist {
			tx.Rollback()
			continue
		}

		tx, err = models.StartTransaction(context.Background())
		if err != nil {
			return
		}

		stmt, err := tx.Prepare(`UPDATE ` + table + ` SET ` + field + ` = $1 WHERE id = $2`)
		if err != nil {
			tx.Rollback()
			continue
		}

		_, err = stmt.Exec(slug, id)
		if err != nil {
			tx.Rollback()
			continue
		}

		err = tx.Commit()
		if err != nil {
			tx.Rollback()
			continue
		}

		break
	}
}
