package admin

{{range .FileFields}}
// {{.Entity}}{{.Field}}UploadOpts contains upload parameters for the "{{.Field}}" field in Entity "{{.Entity}}"
var {{.Entity}}{{.Field}}UploadOpts = files.UploadOptions{
	Dir:			"media",
	Destination:    "{{lower .Entity}}/{{lower .Field}}",
	MediaPrefixURL: "/media/",
	FileType:       files.TypeImage,
	MinSize:        files.NoLimit,
	MaxSize:        files.NoLimit,
	ImgDimensions:  &files.ImageDimensions{
		ThumbWidth:     400,
		ThumbHeight:    200,
		MinWidth:       files.NoLimit,
		MinHeight:      files.NoLimit,
		MaxWidth:       files.NoLimit,
		MaxHeight:      files.NoLimit,
		GenerateSocial: true,
	},
}
{{end}}