package admin

// UploadPaths is an index of upload options
var UploadPaths = map[string]*files.UploadOptions{
	{{range $i, $entity := .Entities -}}
	{{range $entity.GetFileFields }}
	"{{lower $entity.Name}}/{{lower .Name}}":	&{{$entity.Name}}{{.Name}}UploadOpts,
	{{end}}
	{{end}}
}

{{range $i, $entity := .Entities -}}
{{range $entity.GetFileFields }}
// {{$entity.Name}}{{.Name}}UploadOpts contains upload parameters for the "{{.Name}}" field in Entity "{{$entity.Name}}"
var {{$entity.Name}}{{.Name}}UploadOpts = files.UploadOptions{
	Dir:			"media",
	Destination:    "{{lower $entity.Name}}/{{lower .Name}}",
	MediaPrefixURL: "/media/",
	FileType:       files.TypeImage,
	MaxSize:        util.NoLimit,
	ConvertTo:      imagist.TypeImageJPG,
	ImgDimensions:  &imagist.ImageDimensions{
		ThumbWidth:     400,
		ThumbHeight:    200,
		MinWidth:       util.NoLimit,
		MinHeight:      util.NoLimit,
		MaxWidth:       util.NoLimit,
		MaxHeight:      util.NoLimit,
		GenerateSocial: true,
	},
}
{{end}}
{{end}}