package admin

// UploadPaths is an index of upload options
var UploadPaths = map[string]*files.UploadOptions{
	{{range .FileFields -}}
	"{{lower .Entity}}/{{lower .Field}}":	&{{.Entity}}{{.Field}}UploadOpts,
	{{end}}
}

{{range .FileFields}}
// {{.Entity}}{{.Field}}UploadOpts contains upload parameters for the "{{.Field}}" field in Entity "{{.Entity}}"
var {{.Entity}}{{.Field}}UploadOpts = files.UploadOptions{
	Dir:			"media",
	Destination:    "{{lower .Entity}}/{{lower .Field}}",
	MediaPrefixURL: "/media/",
	FileType:       files.TypeImage,
	MaxSize:        util.NoLimit,
	ConvertTo:      imagist.TypeImageJPG,
	ImgDimensions:  &imagist.ImageDimensions{
		MinWidth:       util.NoLimit,
		MinHeight:      util.NoLimit,
		MaxWidth:       util.NoLimit,
		MaxHeight:      util.NoLimit,
		Formats: []imagist.FormatDimensions{
			{Name: "thumb", Width: 400, Height: 200},
		},
	},
}
{{end}}