<template>
  <div>
    <div class="caption desc-span">Featured Status</div>
    <v-checkbox v-bind="$attrs" :value="$attrs.value" @change="$emit('gocipe', result)" v-model="result"></v-checkbox>

  </div>
</template>


<script>
export default {
  data() {
    return {
      result: ""
    };
  },
  created() {
    this.result = this.$attrs.value;
  },
  inheritAttrs: false
};
</script>