{{range .Entities}}
DROP TABLE IF EXISTS {{.Table}};

CREATE TABLE {{.Table}} (
	"id" TEXT,
	{{range .Fields}}{{.SchemaDefinition}},{{end}}
	{{range .GetForeignKeyFields}}{{.}},{{end}}
	{{range .Entity.TableConstraints}}{{.}},{{end}}
	PRIMARY KEY ("id")
);

{{range .GetRelatedTables}}
DROP TABLE IF EXISTS {{.JoinTable}};

CREATE TABLE {{.JoinTable}} (
	"{{.ThisID}}" TEXT NOT NULL,
	"{{.ThatID}}" TEXT NOT NULL
);

DROP INDEX IF EXISTS {{.JoinTable}}_{{.ThisID}};
DROP INDEX IF EXISTS {{.JoinTable}}_{{.ThatID}};

CREATE INDEX {{.JoinTable}}_{{.ThisID}} ON {{.JoinTable}} ({{.ThisID}});
CREATE INDEX {{.JoinTable}}_{{.ThatID}} ON {{.JoinTable}} ({{.ThatID}});
{{end}}

{{end}}
