DROP TABLE IF EXISTS {{.Entity.Table}};

CREATE TABLE {{.Entity.Table}} (
	"id" {{pkeyFieldType .Entity.PrimaryKey}},
	{{- range $i, $e := .Entity.Fields}}{{if ne .Schema.Field ""}}
	"{{.Schema.Field}}" {{$e.Schema.Type}} NOT NULL
	{{- if ne .Schema.Default ""}} DEFAULT {{.Schema.Default}}{{end}},
	{{- end}}{{- end}}
	{{- range .RelatedFields}}
	"{{.Name}}" {{.Type}} NOT NULL,
	{{end}}
	{{- range .ReferencedFields}}
	"{{.Field}}" {{.Type}} NOT NULL
	{{- if ne .Default ""}} DEFAULT {{.Default}}{{end}},
	{{- end}}
	{{range .Entity.TableConstraints}}{{.}},{{end}}
	PRIMARY KEY ("id")
);

{{range .RelatedTables}}
DROP TABLE IF EXISTS {{.Table}};

CREATE TABLE {{.Table}} (
	"{{.ThisID}}" {{.ThisType}} NOT NULL,
	"{{.ThatID}}" {{.ThatType}} NOT NULL
);

DROP INDEX IF EXISTS {{.Table}}_{{.ThisID}};
DROP INDEX IF EXISTS {{.Table}}_{{.ThatID}};

CREATE INDEX {{.Table}}_{{.ThisID}} ON {{.Table}} ({{.ThisID}});
CREATE INDEX {{.Table}}_{{.ThatID}} ON {{.Table}} ({{.ThatID}});
{{end}}