package models

import (
	"context"
	"database/sql"
	{{range .Imports}}{{.}}{{end}}
)
{{.Structure}}
{{.Get}}
{{.List}}
{{.DeleteSingle}}
{{.DeleteMany}}
{{.Save}}
{{.Insert}}
{{.Update}}
{{.Merge}}
{{range .LoadRelated}}{{.}}{{end}}
{{range .SaveRelated}}{{.}}{{end}}