package models
import (
	"database/sql"
)

{{if .CrudHooks.PreRead}}
func crudPreGet(id string) error {
	return nil
}
{{end}}
{{if .CrudHooks.PostRead}}
func crudPostGet(entity *{{.Name}}) error {
	return nil
}
{{end}}

{{if .CrudHooks.PreList}}
func crudPreList(filters []models.ListFilter) ([]ListFilter, error) {
	return filters, nil
}
{{end}}
{{if .CrudHooks.PostList}}
func crudPostList(list []*{{.Name}}) ([]*{{.Name}}, error) {
	return list, nil
}
{{end}}

{{if .CrudHooks.PreDelete}}
func crudPreDelete(id string, tx *sql.Tx) error {
	return nil
}
{{end}}
{{if .CrudHooks.PostDelete}}
func crudPostDelete(id string, tx *sql.Tx) error {
	return nil
}
{{end}}


{{if .CrudHooks.PreSave }}
func crudPreSave(op string, entity *{{.Name}}, tx *sql.Tx) error {
	return nil
}
{{end}}
{{if .CrudHooks.PreSave }}
func crudPostSave(op string, entity *{{.Name}}, tx *sql.Tx) error {
	return nil
}
{{end}}

