package models
import (
	"database/sql"
)

{{if .Entity.CrudHooks.PreRead}}
func crudPreGet(id string) error {
	return nil
}
{{end}}
{{if .Entity.CrudHooks.PostRead}}
func crudPostGet(entity *{{.Entity.Name}}) error {
	return nil
}
{{end}}

{{if .Entity.CrudHooks.PreList}}
func crudPreList(filters []models.ListFilter) ([]ListFilter, error) {
	return filters, nil
}
{{end}}
{{if .Entity.CrudHooks.PostList}}
func crudPostList(list []*{{.Entity.Name}}) ([]*{{.Entity.Name}}, error) {
	return list, nil
}
{{end}}

{{if or .Entity.CrudHooks.PreDeleteSingle .Entity.CrudHooks.PreDeleteMany}}
func crudPreDelete(id string, tx *sql.Tx) error {
	return nil
}
{{end}}
{{if or .Entity.CrudHooks.PostDeleteSingle .Entity.CrudHooks.PostDeleteMany}}
func crudPostDelete(id string, tx *sql.Tx) error {
	return nil
}
{{end}}


{{if .Entity.CrudHooks.PreSave }}
func crudPreSave(op string, entity *{{.Entity.Name}}, tx *sql.Tx) error {
	return nil
}
{{end}}
{{if .Entity.CrudHooks.PreSave }}
func crudPostSave(op string, entity *{{.Entity.Name}}, tx *sql.Tx) error {
	return nil
}
{{end}}

