syntax = "proto3";

package models;
option go_package = "{{.ProjectImportPath}}/models";

{{range .Imports -}}
{{.}}
{{- end}}

message ListFilters {
    string Field = 1;
    string Operation = 2;
    string Value = 3;
}

{{ range .Entities -}}
// {{.Name}} {{.Description}}
message {{.Name}} { {{ range .Fields }}
	{{.Type}} {{.Name}} = {{.Index}};
{{- end}}
}

{{end}}