package {{.Package}}

// {{.Name}} {{.Description}}
type {{.Name}} struct {
	ID        *{{pkeyPropertyType .PrimaryKey}} `json:"id"`
	{{- range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.Serialized}}"`
	{{- end}}
}

// New returns an instance of {{.Name}}
func New() *{{.Name}} {
	return &{{.Name}}{
		ID: new({{pkeyPropertyType .PrimaryKey}}),
		{{- range .Initialization}}
		{{.Name}}: {{.Type}},
		{{- end}}
	}
}