package {{.Package}}

// {{.Entity.Name}} {{.Entity.Description}}
type {{.Entity.Name}} struct {
	ID        *{{pkeyPropertyType .Entity.PrimaryKey}}  `json:"id"`
	{{- range .Entity.Fields}}
	{{.Property.Name}} *{{.Property.Type}} `json:"{{.Serialized}}"`
	{{- end}}
}

// New returns an instance of {{.Entity.Name}}
func New() *{{.Entity.Name}} {
	return &{{.Entity.Name}}{
		ID: new({{pkeyPropertyType .Entity.PrimaryKey}}),
		{{- range .Entity.Fields}}
		{{.Property.Name}}: new({{.Property.Type}}),
		{{- end}}
	}
}