// General Colors

:root {
  // Spacing
  --gap: 25px;
  --gutter: 20px;
  --gap-section: 40px;
  --gap-content: 10px;
  --gap-six: 6px;
  --gap-margin-tablet: 30px;

  --color-primary: #b45f06;
  --color-bg: #ffffff;
  --color-heading: #666666;
  --color-text: #434343;
  --color-text-light: #999999;
  --color-light-grey: #b7b7b7;
  --color-grey-encadre: #eeeeee;
  --color-grey-textbox: #efefef;
  --color-ads: #f3f3f3;
  --color-light: white;
  --color-dark: black;
  --color-button: #011f2c;
  --color-button-la_suite: #d0554b;
  --color-top-stories: #926a28;
  --color-top-stories-text: #f3f3f3;
  --color-mots-cles: #baa177;

  // Header Section
  --color-header: #fcfdfd;
  --color-header-border: #595959;

  // Color-footer
  --color-footer-text: #cccccc;

  // Video Section
  --color-video-bg: #f4f1e5;
  --color-video-border: #d9d9d9;

  // Newsletter Section
  --color-newsletter: #926a28;

  // Contactez section
  --color-contactez-bg: #e3dec7;

  // Indicateurs section
  --color-indicateur-text: #03648e;

  //icon
  --color-twitter: #56adde;
  --color-facebook: #3c589c;
  --color-watsapp: #4ac53e;
  --color-mail: #3b3b3b;

  //fonts
  --font-Josefin-Slab: "Josefin Slab", serif;
  --font-Merriweather: "Merriweather", serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

// Responsive breakpoints
$desktop: 1300px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 480px;