@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:300,300i,400,400i,700,700i|Merriweather:300,300i,400,400i,700,700i|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700");

.article__body,
[data-css="article"] {
  * {
    box-sizing: border-box;
  }

  .html__content {
    iframe {
    }
  }

  a {
    color: var(--color-primary);
  }

  p {
    font-size: 16px;
    color: var(--color-heading);
    font-family: var(--font-Merriweather);
    line-height: 30px;
    margin-top: 0;
    margin-bottom: calc(var(--gutter) / 2);
  }

  figure {
    padding: 0;
    margin: 0;
    line-height: 0;

    img {
      margin: 0 !important;
      width: 100%;
    }

    figcaption {
      //background: rgba($color-brown, 0.2);
      color: var(--color-heading);
      text-align: center;
      padding: 10px;
      background: var(--color-bg);

      p {
        margin: 0;
        font-size: 14px;
      }
    }

    iframe {
      margin: 0;
      padding: 0;
    }
  }

  p,
  ul,
  ol {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 25px;
  }

  h6 {
    font-size: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-heading);
    font-weight: 700;
    font-family: var(--font-Merriweather);
    margin: calc(var(--gutter)) 0;

    a {
      color: var(--color-heading);
      text-decoration: none;
    }
  }

  hr {
    border-top: 0;
    border-bottom: 1px solid rgba(var(--color-heading), 0.2);
    border-left: 0px;
    margin: calc(var(--gutter) / 3) 0;
  }

  ol,
  ul {
    margin: 0;
    padding-left: 20px;
    margin: calc(var(--gutter) / 3) 0;
    color: var(--color-heading);
    font-family: var(--font-Merriweather);

    li {
      padding-left: calc(var(--gutter) / 3);
    }

    @for $i from 1 through 10 {
      ol,
      ul {
        padding-left: 30px;
      }
    }
  }

  ul {
    list-style-type: none;
    position: relative;

    li {
      &:before {
        content: "\f111";
        font-family: "FontAwesome";
        color: var(--color-primary);
        position: absolute;
        left: 6px;
        //margin-left: -7px;
        font-size: 9px;
      }
    }
  }

  blockquote {
    &:not(.twitter-tweet) {
      font-family: "Georgia";
      width: 100%;
      margin: 40px auto;
      position: relative;
      padding: calc(var(--gutter) - 10px);

      &:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 3px;
        background: var(--color-primary);
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &:after {
        position: absolute;
        content: "";
        width: 80px;
        height: 3px;
        background: var(--color-primary);
        bottom: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      p {
        padding: 0;
        font-size: 22px;
        font-style: italic;
        position: relative;
        text-align: center;
        color: var(--color-primary);
        font-family: var(--font-Josefin-Slab);
        font-weight: 500;
        max-width: 60%;
        margin: 0 auto;

        &:before,
        &:after {
          font-family: "Georgia";
          font-size: 30px;
          display: block;
          color: var(--color-primary);
          font-style: initial;
        }

        &:before {
          position: absolute;
          content: "\201C";
          left: -25px;
          top: -10px;
        }

        &:after {
          position: absolute;
          content: "\201D";
          right: -15px;
        }
      }
    }
  }

  cite {
    display: block;
    text-align: center;
    font-family: var(--font-Merriweather);
  }

  b,
  strong {
    font-weight: 700;
  }

  u {
    text-decoration: underline;
  }

  i,
  em {
    font-style: italic;
  }

  video,
  audio,
  iframe,
  embed,
  table {
    width: 100%;
  }

  table {
    border: 1px solid rgba(0, 0, 0, 0.2);
    thead,
    tfoot {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      background: var(--color-bg);

      tr {
        td,
        th {
          padding: 10px;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
          border-right: 1px solid rgba(0, 0, 0, 0.2);

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
          border-bottom: 0px;
        }

        td {
          padding: 10px;
          font-weight: 300;
          text-align: left;
          text-transform: none;
          border-right: 1px solid rgba(0, 0, 0, 0.2);

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }

  iframe {
    margin: calc(var(--gutter) / 2) auto;
  }

  .yt__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: var(--gutter);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
