package credentials

import (
	"fmt"
	"strings"
)

// Connection represents connection to a service having a protocol, identifier, password, host and port
type Connection struct {
	Protocol   string
	Identifier string
	Password   string
	Host       string
	Port       string
}

func (c *Connection) String() string {
	return fmt.Sprintf("Protocol: %s Identifier: %s Password: %s Host: %s Port: %s", c.Protocol, c.Identifier, c.Password, c.Host, c.Port)
}

// NewConnection returns a connection from string in the format protocol://username:password@host:port
func NewConnection(conn string, defaults ...*Connection) *Connection {
	var (
		connection    *Connection
		creds, server string
	)

	if len(defaults) == 1 {
		connection = defaults[0]
	} else {
		connection = new(Connection)
	}

	if i := strings.Index(conn, "://"); i != -1 {
		connection.Protocol = conn[:i]
		conn = conn[i+3:]
	}

	if i := strings.Index(conn, "@"); i == -1 { //no username password
		server = conn
	} else {
		creds = conn[:i]
		server = conn[i+1:]
	}

	if creds == "" {
		//do nothing
	} else if i := strings.Index(creds, ":"); i != -1 { //both id and password
		connection.Identifier = creds[:i]
		connection.Password = creds[i+1:]
	} else { //only id
		connection.Identifier = creds
	}

	if server == "" {
		//do nothing
	} else if i := strings.Index(server, ":"); i != -1 { //both host and port
		connection.Host = server[:i]
		connection.Port = server[i+1:]
	} else { //only host
		connection.Host = conn
	}

	return connection
}
