
// Delete deletes a {{.EntityName}} record from database and sets id to nil
func (repo {{.EntityName}}Repositorium) Delete(ctx context.Context, entity {{.EntityName}}, tx *sql.Tx, autocommit bool) ({{.EntityName}}, error) {
	var (
		err  error
		stmt *sql.Stmt
	)
	id := entity.ID

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			return entity, err
		}

		tx, err = repo.db.Begin()
		if err != nil {
			return entity, err
		}
	}

	if err = util.CheckContext(ctx); err != nil {
		return entity, err
	}

	stmt, err = tx.Prepare("DELETE FROM {{.Table}} WHERE id = $1")
	if err != nil {
		return entity, err
	}
	{{if .HasPreHook}}
	if err = util.CheckContext(ctx); err != nil {
		return entity, err
	}

	if err = repo.preDelete(ctx, tx, id); err != nil {
		tx.Rollback()
		return entity, err
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return entity, err
	}
	
	_, err = stmt.Exec(id)
	if err == nil {
		entity.ID = {{pkeyPropertyEmptyVal .PrimaryKey}}
	} else {
		tx.Rollback()
		return entity, err
	}
	
	{{range .Post}}{{.}}
	{{end}}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return entity, err
	}
	
	if err = repo.postDelete(ctx, tx, id); err != nil {
		tx.Rollback()
		return entity, err
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return entity, err
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			tx.Rollback()
		}
	}

	return entity, err
}