
// DeleteMany deletes many {{.EntityName}} records from database using filter
func (repo {{.EntityName}}Repositorium) DeleteMany(ctx context.Context, tx *sql.Tx, autocommit bool, filters ...*Filter) error {
	var (
		err      error
		stmt     *sql.Stmt
		segments []string
		values   []interface{}
		query    string
	)

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			return errors.WithStack(err)
		}
		
		tx, err = StartTransaction(ctx)
		if err != nil {
			return errors.WithStack(err)
		}
	}

	{{if .HasPreHook}}
    if filters, err = repo.preDeleteMany(ctx, tx, filters); err != nil {
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	for i, filter := range filters {
		segments = append(segments, filter.Field+" "+filter.Operation+" $"+strconv.Itoa(i+1))
		values = append(values, filter.Value)
	}

	if len(segments) != 0 {
		query = " WHERE " + strings.Join(segments, " AND ")
	}

	{{range .Relationships}}{{if eq .Type "many-many"}}
	stmt, err = tx.Prepare("DELETE FROM {{.JoinTable}} WHERE {{.ThatID}} IN (SELECT id FROM {{$.Table}}"+query+")")
	if err != nil {
		return errors.WithStack(err)
	}

	_, err = stmt.Exec(values...)
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}{{end}}

	stmt, err = tx.Prepare("DELETE FROM {{.Table}}"+query)
	if err != nil {
		return errors.WithStack(err)
	}

	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	_, err = stmt.Exec(values...)
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	if err = repo.postDeleteMany(ctx, tx, filters); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}
