// Get returns a single {{.EntityName}} from database by primary key
func Get(ctx context.Context, id {{pkeyPropertyType .PrimaryKey}}) (*{{.EntityName}}, error) {
	var (
		rows   *sql.Rows
		err    error
		entity = New()
	)
	{{if .HasPreHook}}
    if err = crudPreGet(ctx, id); err != nil {
		return nil, err
	}
    {{end}}
	select {
	case <- ctx.Done():
		return nil, ctx.Err()
	default:
		break
	}

	rows, err = db.Query("SELECT {{.SQLFields}} FROM {{.Table}} WHERE id = $1 ORDER BY .id ASC", id)
	if err != nil {
		return nil, err
	}

	defer rows.Close()
	if rows.Next() {
		select {
		case <- ctx.Done():
			return nil, ctx.Err()
		default:
			err = rows.Scan({{.StructFields}})
			if err != nil {
				return nil, err
			}
		} 
	}
	{{if .HasPostHook}}
	select {
	case <-ctx.Done():
		return nil, ctx.Err()
	default:
		if err = crudPostGet(ctx, entity); err != nil {
			return nil, err
		}
	}
	{{end}}

	return entity, nil
}