
// Get returns a single {{.EntityName}} from database by primary key
func (repo {{.EntityName}}Repositorium) Get(ctx context.Context, id {{pkeyPropertyType .PrimaryKey}}) ({{.EntityName}}, error) {
	var (
		rows   *sql.Rows
		err    error
		entity {{.EntityName}}
	)
	{{if .HasPreHook}}
    if err = repo.preGet(ctx, id); err != nil {
		return entity, err
	}
    {{end}}
	
	if err = util.CheckContext(ctx); err != nil {
		return entity, err
	}

	rows, err = repo.db.Query("SELECT {{.SQLFields}} FROM {{.Table}} WHERE id = $1 ORDER BY id ASC", id)
	if err != nil {
		return entity, err
	}

	defer rows.Close()
	if rows.Next() {
		if err = util.CheckContext(ctx); err != nil {
			return entity, err
		}

		{{range .Before}}{{.}}
		{{end}}

		err = rows.Scan({{.StructFields}})
		if err != nil {
			return entity, err
		}
		
		{{range .After}}{{.}}
		{{end}}
	} else {
		return entity, moderrors.RecordNotFoundError
	}
	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		return entity, err
	}

	if err = repo.postGet(ctx, &entity); err != nil {
		return entity, err
	}
	{{end}}

	return entity, nil
}