
// Load{{.Funcname}} is a helper function to load related {{.PropertyName}} entities
func (repo {{.ThisEntity}}Repositorium) Load{{.Funcname}}(ctx context.Context, entities ...*{{.ThisEntity}}) error {
	var (
		err error
		placeholder string
		values  []interface{}
		indices = make(map[{{.ThisType}}][]*{{.ThisEntity}})
	)

	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	} else if len(entities) == 0 {
		return nil
	}

	c := 1
	for _, entity := range entities {
		placeholder += "$" + strconv.Itoa(c) + ","
		indices[entity.ID] = append(indices[entity.ID], entity)
		values = append(values, entity.ID)
		c++
	}
	placeholder = strings.TrimRight(placeholder, ",")

	rows, err := repo.db.Query(`
		SELECT {{.ThisID}}, {{.SQLFields}} FROM {{.ThatTable}} WHERE {{.ThisID}} IN (`+placeholder+`)
	`, values...)
	if err != nil {
		return errors.WithStack(err)
	}

	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}

	for rows.Next() {
		var (
			thisID {{.ThisType}}
			entity {{.ThatEntity}}
		)
		
		{{range .Before}}{{.}}
		{{end}}
		err = rows.Scan(&thisID, {{.StructFields}})
		if err != nil {
			return errors.WithStack(err)
		}
		{{range .After}}{{.}}
		{{end}}
		
		for _, ent := range indices[thisID] {
			ent.{{.PropertyName}} = append(ent.{{.PropertyName}}, &entity)
		}
		
		if err = util.CheckContext(ctx); err != nil {
			return errors.WithStack(err)
		}
	}

	return nil
}