
// Merge performs an SQL merge for {{.EntityName}} record.
func (repo {{.EntityName}}Repositorium) Merge(ctx context.Context, entity *{{.EntityName}}, tx *sql.Tx, autocommit bool) error {
	var (
		err error
		stmt *sql.Stmt
	)

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			return errors.WithStack(err)
		}
		
		tx, err = repo.db.Begin()
		if err != nil {
			return errors.WithStack(err)
		}
	}

	if entity.ID == {{pkeyPropertyEmptyVal .PrimaryKey}} {
		return {{.EntityName}}Repo.Insert(ctx, entity, tx, autocommit)
	}

	{{range .Before}}{{.}}
	{{end}}

	stmt, err = tx.Prepare(`INSERT INTO {{.Table}} ({{.SQLFieldsInsert}}) VALUES ({{.SQLPlaceholders}}) 
	ON CONFLICT (id) DO UPDATE SET {{.SQLFieldsUpdate}}`)
	if err != nil {
		return errors.WithStack(err)
	}

	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}
	{{if .HasPreHook}}
    if err = repo.preSave(ctx, tx, models.OperationMerge, entity); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}

	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}
	_, err = stmt.Exec({{.StructFields}})
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	if err = repo.postSave(ctx, "MERGE", entity, tx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}

// MergeWithRel performs an SQL merge for {{.EntityName}} record.
func (repo {{.EntityName}}Repositorium) MergeWithRel(ctx context.Context, entity *{{.EntityName}}, tx *sql.Tx, autocommit bool) error {
	var (
		err error
		stmt *sql.Stmt
	)

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			return errors.WithStack(err)
		}
		
		tx, err = repo.db.Begin()
		if err != nil {
			return errors.WithStack(err)
		}
	}

	if entity.ID == {{pkeyPropertyEmptyVal .PrimaryKey}} {
		return {{.EntityName}}Repo.Insert(ctx, entity, tx, autocommit)
	}

	{{range .Before}}{{.}}
	{{end}}

	stmt, err = tx.Prepare(`INSERT INTO {{.Table}} ({{.SQLFieldsInsert}}) VALUES ({{.SQLPlaceholders}}) 
	ON CONFLICT (id) DO UPDATE SET {{.SQLFieldsUpdate}}`)
	if err != nil {
		return errors.WithStack(err)
	}

	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}
	{{if .HasPreHook}}
    if err = repo.preSave(ctx, tx, models.OperationMerge, entity); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}

	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}
	_, err = stmt.Exec({{.StructFields}})
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	{{range $i, $r := .Related}}{{$r}}
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{if ne (plus1 $i) (len $.Related)}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	{{end}}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	if err = repo.postSave(ctx, "MERGE", entity, tx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}
