
// Save either inserts or updates a {{.EntityName}} record based on whether or not id is nil
func (repo {{.EntityName}}Repository) Save(ctx context.Context, entity {{.EntityName}}, tx *sql.Tx, autocommit bool) ({{.EntityName}}, error) {
	{{if pkeyIsAuto .PrimaryKey -}}
	if entity.ID == nil {
		return {{.EntityName}}Repo.Insert(ctx, entity, tx, autocommit)
	}
	return {{.EntityName}}Repo.Update(ctx, entity, tx, autocommit)
	{{- else -}}
	if entity.ID == nil {
		return entity, errors.New("primary key cannot be nil")
	}
	return {{.EntityName}}Repo.Merge(ctx, entity, tx, autocommit)
	{{end -}}
}