// SaveRelated{{.PropertyName}} is a helper function to save related {{.PropertyName}} entities
func SaveRelated{{.PropertyName}}(ctx context.Context, idthis  {{pkeyPropertyType .PrimaryKey}}, relatedids {{.PropertyType}}) error {
	var (
		placeholder string
		values  []interface{}
		indices map[{{pkeyPropertyType .PrimaryKey}}]{{trimPrefix .PropertyType "[]"}}
		idthis  {{pkeyPropertyType .PrimaryKey}}
		idthat  {{trimPrefix .PropertyType "[]"}}
		items   []{{.EntityName}}
		stmt    *sql.Stmt
	)

	if err = util.CheckContext(ctx); err != nil {
		return err
	}
	
	stmt, err = tx.Prepare("DELETE FROM {{.Table}} WHERE {{.ThisID}} = $1")

	if err != nil {
		return err
	}

	_, err = stmt.Exec(entity.ID)
	if err != nil {
		tx.Rollback()
		return err
	}

	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return err
	}

	stmt, err = tx.Prepare("INSERT INTO {{.Table}} ({{.ThisID}}, {{.ThatID}}) VALUES ($1, $2)")
	if err != nil {
		return err
	}

	for _, relatedID := range *entity.{{.PropertyName}} {
		if err = util.CheckContext(ctx); err != nil {
			tx.Rollback()
			return err
		}

		_, err = stmt.Exec(entity.ID, relatedID)
		if err != nil {
			tx.Rollback()
			return err
		}
	}
}