
// Update Will execute an SQLUpdate Statement for {{.EntityName}} in the database. Prefer using Save instead of Update directly.
func (repo {{.EntityName}}Repositorium) Update(ctx context.Context, entity *{{.EntityName}}, tx *sql.Tx, autocommit bool) error {
	var (
		err error
		stmt *sql.Stmt
	)

	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.Update entered")
	if entity == nil {
		log.WithFields(log.Fields{"entity": entity}).Info("repo.{{.EntityName}}.Update Entity empty error")
		return moderrors.SaveEmptyEntityError
	}

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update context error")
			return errors.WithStack(err)
		}

		tx, err = StartTransaction(ctx)
		if err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update StartTransaction error")
			return errors.WithStack(err)
		}
	}
	
	{{range .Before}}{{.}}
	{{end}}

	stmt, err = tx.Prepare(`UPDATE {{.Table}} SET {{.SQLFields}} WHERE id = $1`)
	if err != nil {
		log.WithFields(log.Fields{"entity": entity, "query": `UPDATE {{.Table}} SET {{.SQLFields}} WHERE id = $1`, "error": err}).Error("repo.{{.EntityName}}.Update query error")
		return errors.WithStack(err)
	}
	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.Update query done")

	{{range .After}}{{.}}
	{{end}}

	{{if .HasPreHook}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update context error")
		return errors.WithStack(err)
	}

	if err = repo.preSave(ctx, tx, models.Update, entity); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update hook preSave error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.Update hook preSave executed")
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update context error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	_, err = stmt.Exec({{.StructFields}})
	if err != nil {
		tx.Rollback()
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update query exec error")
		return errors.WithStack(err)
	}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update context error")
		tx.Rollback()
		return errors.WithStack(err)
	}

	if err = repo.postSave(ctx, "UPDATE", entity, tx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update hook postSave error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.Update hook postSave executed")
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update context error")
		tx.Rollback()
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.Update commit error")
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}

// UpdateWithRel Will execute an SQLUpdate Statement for {{.EntityName}} in the database; including related entities. Prefer using Save instead of Update directly.
func (repo {{.EntityName}}Repositorium) UpdateWithRel(ctx context.Context, entity *{{.EntityName}}, tx *sql.Tx, autocommit bool) error {
	var (
		err error
		stmt *sql.Stmt
	)

	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.UpdateWithRel entered")
	if entity == nil {
		log.WithFields(log.Fields{"entity": entity}).Info("repo.{{.EntityName}}.UpdateWithRel Entity empty error")
		return moderrors.SaveEmptyEntityError
	}

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel context error")
			return errors.WithStack(err)
		}

		tx, err = StartTransaction(ctx)
		if err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel StartTransaction error")
			return errors.WithStack(err)
		}
	}
	
	{{range .Before}}{{.}}
	{{end}}

	stmt, err = tx.Prepare(`UPDATE {{.Table}} SET {{.SQLFields}} WHERE id = $1`)
	if err != nil {
		log.WithFields(log.Fields{"entity": entity, "query": `UPDATE {{.Table}} SET {{.SQLFields}} WHERE id = $1`, "error": err}).Error("repo.{{.EntityName}}.UpdateWithRel query error")
		return errors.WithStack(err)
	}

	{{range .After}}{{.}}
	{{end}}

	{{if .HasPreHook}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel context error")
		return errors.WithStack(err)
	}

    if err = repo.preSave(ctx, tx, models.Update, entity); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel hook preSave error")
		tx.Rollback()
        return errors.WithStack(err)
	}
	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.UpdateWithRel hook preSave executed")
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel context error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	_, err = stmt.Exec({{.StructFields}})
	if err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel query exec error")
		tx.Rollback()
		return errors.WithStack(err)
	}

	{{ $i := 0 -}}
	{{range $name, $code := .Related}}{{$code}}
	if err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{$.EntityName}}.UpdateWithRel save related {{$name}} error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{if ne (plus1 $i) (len $.Related)}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{$.EntityName}}.UpdateWithRel context error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	{{- $i = plus1 $i }}
	{{end}}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel context error")
		tx.Rollback()
		return errors.WithStack(err)
	}

	if err = repo.postSave(ctx, "UPDATE", entity, tx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel hook postSave error")
		tx.Rollback()
		return errors.WithStack(err)
	}
	log.WithFields(log.Fields{"entity": entity}).Debug("repo.{{.EntityName}}.UpdateWithRel hook postSave executed")
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel context error")
		tx.Rollback()
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			log.WithFields(log.Fields{"entity": entity, "error": err}).Info("repo.{{.EntityName}}.UpdateWithRel commit error")
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}
