
// Update Will execute an SQLUpdate Statement for {{.EntityName}} in the database. Prefer using Save instead of Update directly.
func (repo {{.EntityName}}Repositorium) Update(ctx context.Context, entity *{{.EntityName}}, tx *sql.Tx, autocommit bool) error {
	var (
		err error
		stmt *sql.Stmt
	)

	if entity == nil {
		return moderrors.SaveEmptyEntityError
	}

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			return errors.WithStack(err)
		}

		tx, err = models.StartTransaction(ctx, nil)
		if err != nil {
			return errors.WithStack(err)
		}
	}
	
	{{range .Before}}{{.}}
	{{end}}

	stmt, err = tx.Prepare(`UPDATE {{.Table}} SET {{.SQLFields}} WHERE id = $1`)
	if err != nil {
		return errors.WithStack(err)
	}

	{{range .After}}{{.}}
	{{end}}

	{{if .HasPreHook}}
	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}

	if err = repo.preSave(ctx, tx, models.OperationUpdate, entity); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	_, err = stmt.Exec({{.StructFields}})
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	if err = repo.postSave(ctx, "UPDATE", entity, tx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}

// UpdateWithRel Will execute an SQLUpdate Statement for {{.EntityName}} in the database; including related entities. Prefer using Save instead of Update directly.
func (repo {{.EntityName}}Repositorium) UpdateWithRel(ctx context.Context, entity *{{.EntityName}}, tx *sql.Tx, autocommit bool) error {
	var (
		err error
		stmt *sql.Stmt
	)

	if entity == nil {
		return moderrors.SaveEmptyEntityError
	}

	if tx == nil {
		if err = util.CheckContext(ctx); err != nil {
			return errors.WithStack(err)
		}

		tx, err = models.StartTransaction(ctx, nil)
		if err != nil {
			return errors.WithStack(err)
		}
	}
	
	{{range .Before}}{{.}}
	{{end}}

	stmt, err = tx.Prepare(`UPDATE {{.Table}} SET {{.SQLFields}} WHERE id = $1`)
	if err != nil {
		return errors.WithStack(err)
	}

	{{range .After}}{{.}}
	{{end}}

	{{if .HasPreHook}}
	if err = util.CheckContext(ctx); err != nil {
		return errors.WithStack(err)
	}

    if err = repo.preSave(ctx, tx, models.OperationUpdate, entity); err != nil {
		tx.Rollback()
        return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	_, err = stmt.Exec({{.StructFields}})
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	{{range $i, $r := .Related}}{{$r}}
	if err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{if ne (plus1 $i) (len $.Related)}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	{{end}}

	{{if .HasPostHook}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	if err = repo.postSave(ctx, "UPDATE", entity, tx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}
	{{end}}
	if err = util.CheckContext(ctx); err != nil {
		tx.Rollback()
		return errors.WithStack(err)
	}

	if autocommit {
		err = tx.Commit()
		if err != nil {
			tx.Rollback()
		}
	}

	return errors.WithStack(err)
}
