import Vue from "vue";
{{range $file, $name := .Widgets -}}
import {{ $name }} from "@/gocipe/widgets/{{ $file }}";
{{ end }}

{{range $file, $name := .Widgets -}}
Vue.component("{{$name}}", {{$name}});
{{ end }}