{{range .Entities}}
// {{.Name}} {{.Description}}
import {{.Name}}List from "./views/{{plural .Name}}List.vue";
{{end}}

let routes = [
  {{range $i, $v := .Entities}}
  {
    path: "/{{lower (plural .Name)}}",
    name: "{{lower (plural .Name)}}",
    component: {{.Name}}List,
    meta: {
      icon: "{{.Vuetify.Icon}}",
      entity: "{{plural .Name}}"
    }
  }{{if ne (plus1 $i) (len $.Entities)}},{{end}}
  {{end}}
];

export default routes;