{{range .Entities}}
// {{.Name}} {{.Description}}
import {{.Name}}List from "./views/{{plural .Name}}List.vue";
{{end}}

let routes = [
  {{range $i, $v := .Entities}}
  {
    path: "/{{lower (plural .Name)}}-list/",
    name: "{{lower (plural .Name)}}_List",
    icon: "dashboard",
    component: {{.Name}}List,
    entity: "{{plural .Name}}"
  }{{if ne (plus1 $i) (len $.Entities)}},{{end}}
  {{end}}
];

let entities = [
  {{range $i, $v := .Entities}}
  "{{plural .Name}}"{{if ne (plus1 $i) (len $.Entities)}},{{end}}
  {{end}}
];

function registerRoutes(router) {
  router.addRoutes(routes);
}

export default {
  routes,
  entities,
  registerRoutes
}
