package app

import (
	"database/sql"
	"log"
	"os"

	"github.com/joho/godotenv"
	rice "github.com/GeertJohan/go.rice
	// Load database driver
	_ "github.com/lib/pq"
)

const (
	//EnvironmentProd represents production environment
	EnvironmentProd = "PROD"

	//EnvironmentDev represents development environment
	EnvironmentDev  = "DEV"
)

var (
	// bootstrapped is a flag to prevent multiple bootstrapping
	bootstrapped = false

	// Env indicates in which environment (prod / dev) the application is running
	Env string
	{{range .Bootstrap.Settings}}{{if .Public}}
	// {{.Name}} {{.Description}}
	{{.Name}} string
	{{end}}{{end}}
	{{if .Bootstrap.Assets}}Assets *rice.Box{{end}}
	{{if .Bootstrap.HTTPTemplates}}Templates *rice.Box{{end}}
)

// Config represents application configuration loaded during bootstrap
type Config struct {
	{{if not .Bootstrap.NoDB}}DB  *sql.DB{{end}}
	HTTPPort string
	{{range .Bootstrap.Settings}}{{if not .Public}}
	// {{.Name}} {{.Description}}
	{{.Name}} string
	{{end}}{{end}}
}

// Bootstrap loads environment variables and initializes the application
func Bootstrap() *Config {
	var config Config

	if bootstrapped {
		return nil
	}

	godotenv.Load()

	Env = os.Getenv("ENV")
	if Env == "" {
		Env = EnvironmentProd
	}

	{{if not .Bootstrap.NoDB}}
	dsn := os.Getenv("DSN")
	if dsn == "" {
		log.Fatal("Environment variable DSN must be defined. Example: postgres://user:pass@host/db?sslmode=disable")
	}

	var err error
	config.DB, err = sql.Open("postgres", dsn)
	if err == nil {
		log.Println("Connected to database successfully.")
	} else if (Env == EnvironmentDev) {
		log.Println("Database connection failed: ", err)
	} else {
		log.Fatal("Database connection failed: ", err)
	}

	err = config.DB.Ping()
	if err == nil {
		log.Println("Pinged database successfully.")
	} else if (Env == EnvironmentDev) {
		log.Println("Database ping failed: ", err)
	} else {
		log.Fatal("Database ping failed: ", err)
	}
	{{end}}

	config.HTTPPort = os.Getenv("HTTP_PORT")
	if config.HTTPPort == "" {
		config.HTTPPort = "{{.Bootstrap.HTTPPort}}"
	}

	{{range .Bootstrap.Settings}}{{if not .Public}}
	config.{{.Name}} = os.Getenv("{{upper (snake .Name)}}")
	if config.{{.Name}} == "" {
		log.Fatal("Environment variable {{upper (snake .Name)}} ({{.Description}}) must be defined.")
	}
	{{end}}{{end}}

	{{range .Bootstrap.Settings}}{{if .Public}}
	{{.Name}} = os.Getenv("{{upper (snake .Name)}}")
	if {{.Name}} == "" {
		log.Fatal("Environment variable {{upper (snake .Name)}} ({{.Description}}) must be defined.")
	}
	{{end}}{{end}}

	os.Clearenv() //prevent non-authorized access

	return &config
}