package {{.Package}}

// {{.Entity.Name}} {{.Entity.Description}}
type {{.Entity.Name}} struct {
	ID        *int64  `json:"id"`
	{{- range .Entity.Fields}}
	{{.Property.Name}} *{{.Property.Type}} `json:"{{.Serialized}}"`
	{{- end}}
}

// New returns an instance of {{.Entity.Name}}
func New() *{{.Entity.Name}} {
	entity := new({{.Entity.Name}})
	entity.ID = new(int64)
	{{- range .Entity.Fields}}
	entity.{{.Property.Name}} = new({{.Property.Type}})
	{{- end}}

	return entity
}