DROP TABLE IF EXISTS {{.Entity.Table}};

CREATE TABLE {{.Entity.Table}} (
	"id" {{pkeyFieldType .Entity.PrimaryKey}},
	{{- range $i, $e := .Entity.Fields}}{{if ne .Schema.Field ""}}
	"{{.Schema.Field}}" {{$e.Schema.Type}}
	{{- if not .Schema.Nullable}} NOT NULL{{end}}
	{{- if ne .Schema.Default "" -}} DEFAULT {{.Schema.Default}}{{end}},
	{{- end}}{{- end}}
	PRIMARY KEY ("id")
);

{{range .ManyManyFields}}
DROP TABLE IF EXISTS {{.Relationship.Target.Table}};

CREATE TABLE {{.Relationship.Target.Table}} (
	"{{.Relationship.Target.ThisID}}" {{pkeyFieldType $.Entity.PrimaryKey}} NOT NULL,
	"{{.Relationship.Target.ThatID}}" {{.Relationship.ThatFieldType}} NOT NULL
);
{{end}}