import actions from "./actions";
import getters from "./getters";
import mutations from "./mutations";

{{range .Entities}}
// {{.Name}}
import {{.Name}}Edit from "../views/{{plural .Name}}Edit.vue";
import {{.Name}}List from "../views/{{plural .Name}}List.vue";
{{end}}

let routes = [
  {{range $i, $v := .Entities}}
  {
    path: "/{{lower (plural .Name)}}/:id",
    name: "{{lower (plural .Name)}}Edit",
    props: true,
    icon: "dashboard",
    component: {{.Name}}Edit,
    entity: "{{plural .Name}}"
  },
  {
    path: "/{{lower (plural .Name)}}list/",
    name: "{{lower (plural .Name)}}List",
    icon: "dashboard",
    component: {{.Name}}List,
    entity: "{{plural .Name}}"
  }{{if ne (plus1 $i) (len $.Entities)}},{{end}}
  {{end}}
];

let entities = routes.map(route => route.entity);

const state = {
  entities: routes
};

const namespaced = true;

export function registerRoutes(router) {
  router.addRoutes(routes);
}

export default {
  namespaced,
  state,
  actions,
  getters,
  mutations
};
