<template>
  <div class="px-3 listing--container">
    <v-toolbar color="transparent" class="listing-toolbar blue-grey darken-3 px-3" dark flat ml-0>
      <v-btn icon>
        <v-icon>pages</v-icon>
      </v-btn>
      <v-toolbar-title class="ml-0 pl-0">Decks</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container class="px-0 py-0">
      <!-- Decks Management -->
      <v-card>
        <v-card-text>
          {{ range .Decks }}
            <v-card class="mb-4">
              <v-layout row>
                <v-flex xs6>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">{{ .Label}}</div>
                      <span class="grey--text caption">{{ .Description }}</span>
                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex xs3>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">{{ .Slots }}</div>
                      <span class="grey--text caption">
                        {{ range .EntityTypeWhitelist }}
                          {{ . }}
                        {{end}}
                    </span>
                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex xs3>
                  <v-card-title primary-title>
                    <div>
                      <span class="grey--text caption">🤖 {{ .Name }}</span>
                      <div class="headline">
                        <v-btn :to="{ name: '{{ .Name }}_deck' }">View</v-btn>
                      </div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
            </v-card>
          {{end}}
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    
  }
};
</script>

<style lang="scss">

</style>