// Decks listing
import decks from "./home.vue";
{{ range .Decks -}}
{{if not .Vuetify.NoGenerate -}}
// {{.Name}} - {{.Description}}
import {{.Name}}Deck from "./{{.Name}}.vue";
{{end}}
{{- end}}
let routes = [
  {
    path: "decks",
    name: "decks",
    component: decks,
    meta: {
      entity: "Decks",
      showInMenu: true,
      icon: "view_quilt"
    }
  },
  {{- range $i, $v := .Decks}}
  {{- if not .Vuetify.NoGenerate}}
  {
    path: "{{lower .Name}}",
    name: "{{lower .Name}}_deck",
    component: {{.Name}}Deck,
    meta: {
      entity: "{{.Label}}",
      showInMenu: false,
      icon: "{{.Vuetify.Icon}}"
    }
  }{{if ne (plus1 $i) (len $.Decks)}},{{end}}
  {{- end}}
  {{- end}}
];

export default routes;