.DS_Store
node_modules
/dist

#files with no meaning
/ui/src/components/jsonbuilder.json
/ui/src/components/Untitled-1


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*